#footer {
  position: sticky;
  top: 93%;
  width: 100%;
  font: font-smaller/1 footer-font;
  padding: space-normal;
  text-align: center;
}
#footer .social-links {
  display: inline-block;
  margin: 0 space-small;
  color: font-color-normal;
}
#footer .icp {
  margin-top: 12px;
  font-size: 13px;
}
#footer .icp:hover {
  text-decoration: underline;
}
